.table-container {
  width: 95%;
  margin-inline: auto;
  margin-top: 8rem;
}

.main-table {
  border: 2px solid #e7e7e7;
}

.main-table td,
.main-table th {
  border: 2px solid #dfdfdf;
}

.button-status,
.button-join {
  width: 8em;
}
