.main-wrapper {
    margin: 5rem 3rem;
  }
  
  .rock-list {
    display: flex;
  }
  
  .rock-list li {
    margin: 0 10px;
  }
  
  .space-image {
    width: 30%;
    height: 30%;
    object-fit: cover;
    padding:10px 10px 10px 0;
  }
  
  .right-panel button {
    margin-top: 1rem ;
    padding: 10px 18px;
    outline: none;
    border: none;
  }
  
  .reserved-btn {
    background-color: rgb(114, 114, 255);
    color: #ffffff;
  }
  
  button.cancel-btn {
    background-color: rgb(235, 235, 235);
    color: #121212;
    outline: 1px solid #121212;
    border: 1px solid darkslategrey;
    border-radius: 2px;
  }
  
  .rocket-name {
    font-size: 1.5rem;
    padding-top: 10px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }
  
  .description {
    width: 70%;
    padding-top: 10px;
    text-align: left;
  }
  .res-span {
    background-color: rgb(103, 193, 254);
    padding:1px 4px;
    border-radius: 5px;
  }